<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="studentA"  class="cn.eleven.springcyclic.v1.StudentA" >
		<constructor-arg index="0" ref="studentB"/>
	</bean>
	<bean id="studentB"  class="cn.eleven.springcyclic.v1.StudentB" >
		<constructor-arg index="0" ref="studentC"/>
	</bean>
	<bean id="studentC"  class="cn.eleven.springcyclic.v1.StudentC" >
		<constructor-arg index="0" ref="studentA"/>
	</bean>

</beans>
